@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');
body{
    /* background-image: url('./kisspng-gradient-desktop-wallpaper-color-background-5ab88c172773b8.5174360515220439271616.png'); */
    font-family: 'Barlow', sans-serif;
    color: white;
    height: 100vh;
    background: #160424; 
    background: -webkit-linear-gradient(to bottom,  #0e0118, #22133f);
    background: linear-gradient(to bottom,  #0e0118, #22133f);
}
#app{
    height: inherit;
}
#weather-widget{
    width: 100%;
}
#current-weather, #weather-forecast{
    background-color: rgba(240, 248, 255, .5);
    box-shadow: 0 3px 10px rgba(0, 2, 3, 0.3);
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}

.city-name{
    font-size: 2.5rem;
}
.current-temp{
    font-size: 6rem;
}
.degree-symbol{
    font-size: 3rem;
}
.current-day, .weather-desc, .daily-forecast{
    font-size: 1.2rem;
}
.daily-forecast span:last-child{
    margin-left: 20px;
}
.icon-big{
    width: 170px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-small{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.settings-link{
    color: white;
    opacity: .5;
}
.settings-link:hover{
    color: white;
    opacity: 1;
}
.icon-sunny{
    background-image: url('./weather-vector-icons/sunny.png'); 
}
.icon-cloudy-sun{
    background-image: url('./weather-vector-icons/partly-cloudy.png');
}  
.icon-cloudy{
    background-image: url('./weather-vector-icons/cloudy.png');
}
.icon-showers{
    background-image: url('./weather-vector-icons/showers.png');
}
.icon-showers-sun{
    background-image: url('./weather-vector-icons//showers-sun.png')
}  
.icon-storm{
    background-image: url('./weather-vector-icons/storm.png');
}
.icon-snow{
    background-image: url('./weather-vector-icons/snow.png');
}
.icon-fog{
    background-image: url('./weather-vector-icons/fog.png');
}
.icon-moon{
    background-image: url('./weather-vector-icons/moon.png');
}
.icon-cloudy-moon{
    background-image: url('./weather-vector-icons/clody-moon.png');
}
.icon-showers-moon{
    background-image: url('./weather-vector-icons/showers-moon.png');
}
.humidity-info i{
    margin-right: 5px;
}

p.temp{
    font-size: .8rem;
}
#settings-page{
    height: 500px;
    width: 100%;
}

.header{
    width: 100%;
    background-color: rgba(240, 248, 255, .5);
    box-shadow: 0 3px 10px rgba(0, 2, 3, 0.3);
    height: 50px;
}
.search-input, .search-btn{
    height: 100%;
    padding: .75rem 1.25rem;
    border:0;
    background-color: transparent;
    outline: none;
}
.search-input{
    width: 80%;
    font-size: 1.2rem;
    color: white;
}
::-webkit-input-placeholder{ 
    color: rgba(255, 255, 255, 0.794);
    font-size: 1.2rem;
 }
::-moz-placeholder{ 
    color: rgba(255, 255, 255, 0.794);
    font-size: 1.2rem;
} 
:-moz-placeholder{ 
    color: rgba(255, 255, 255, 0.794);
    font-size: 1.2rem;
} 
:-ms-input-placeholder{ 
    color: rgba(255, 255, 255, 0.794);
    font-size: 1.2rem;
}

.search-btn{
    flex-grow: 1;
    color: white;
}
.search-btn:focus{
    outline: none;
}
.search-btn:active{
    background-color: rgba(140, 161, 180, 0.5);
}
.footer{
    padding: 1.25rem 0; 
}
.custom-select{
    background: rgba(140, 161, 180, 0.5) url(./angle-arrow-down.png) no-repeat right 10px center/10% 15px;
    border:0;
    border-radius: 0;
    color: white;
    padding: .5rem 1.5rem .5rem .5rem;
    margin-left: 1rem;
}

.show-weather-btn{
    text-decoration: none;
    height: 50px;
    width: 200px;
    display: block;
    background-color: rgba(240, 248, 255, .5);
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 2, 3, 0.3);
}
.show-weather-btn>a{
    color: white;
}
.show-weather-btn>a:hover{
    text-decoration: none;
    color: white;
}
.matches-city-list{
    overflow-y: scroll;
    max-height: 40vh; 
    margin-top: 20px;
}
.list-group-item-custom{
    background-color:  rgba(240, 248, 255, .2);
    color: white;
}
.list-group-item-custom:hover,
.list-group-item-custom:active,
.list-group-item-custom:focus{
    color: white;
    background-color: rgba(240, 248, 255, .2);
    border-color: transparent; 
    box-shadow: 0 3px 10px rgba(0, 2, 3, 0.3);
    outline: none;
}
::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(150, 157, 163, 0.2);

}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(240, 248, 255, .5);
    box-shadow: 0 3px 10px rgba(0, 2, 3, 0.3);
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 767px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .current-temp{
        font-size: 6rem;
    }
    .degree-symbol{
        font-size: 3rem;
        right: 0;
    }
    .city-name{
        font-size: 3rem;
    }
    .current-day, .weather-desc, .daily-forecast {
        font-size: 1.2rem;
    }
    .icon-big{
        width: 120px;
        height: 120px;
    }
}

@media(max-width: 576px){
    #current-weather, #weather-forecast{
        padding: 10px;
    }
    p{
        font-size: .8rem;
    }
    .col-sm-5ths {
        width: 20%;
        float: left;
    }

    .icon-big{
        width: 100px;
        height: 100px;
    }
    .city-name{
        font-size: 2.5rem;
    }
    .daily-forecast{
        text-align: start;
        margin-top: 0;
    }
    .current-temp{
        font-size: 4rem;
        margin-left: 15px;
    }
    .degree-symbol{
        font-size: 2rem;
        right: 0;
    }
    .current-day, .weather-desc, .daily-forecast {
        font-size: 1rem;
    }
}
