@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');
body{
    background-image: url('./kisspng-gradient-desktop-wallpaper-color-background-5ab88c172773b8.5174360515220439271616.png');
    font-family: 'Barlow', sans-serif;
    color: white;
}

#weather-widget{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.current-weather{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, .5);
    width: 60%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 2, 3, 0.3);
    padding: 10px;
}

.city-name{
    font-size: 3rem;
}
.temp-wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
.current-temp{
    position: absolute;
    top: -30px;
    font-size: 8rem;
}
.degree-symbol{
    position: absolute;
    right: 0;
    font-size: 4rem;
}
.current-day{
    font-size: 1.2rem;
}
.icon-sunny{
    background-image: url('./weather-vector-icons/sunny.png');
    background-size: contain;
    width: 170px;
    height: 170px;
}

.icon-partly-cloudy{
    background-image: url('./weather-vector-icons/partly-cloudy.png');
    background-size: contain;
}